#app {
    display: grid;
    height: 900px;
    width: 1200px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

img {
    height: 100%;
    width: 100%;
}

#fish-flag {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#map {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#vase-vertical-short {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

#vase-vertical-tall {
    grid-column: 1 / 2; 
    grid-row: 3 / 6;
} 

#bamboo-big {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
}

#quadropus {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
}

#monster {
    grid-column: 1 / 2;
    grid-row: 6 / 8;
}

